@import "import/reset";
@import "import/variables";
@import "import/buttons";
@import "import/forms";
@import "import/lists";
@import "import/tables";
@import "import/mixin";
@import "import/wordpress";
@import "grid/bootstrap";
@import "grid/bootstrap-theme";
@import "gulp_png_sprite";
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $fnorm;
    line-height: $base-line-height;
    min-width: 320px;
    transition: $base-transition;
    color: $base-font-color;
    background-color: $base-background-color;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

p,
pre {
    margin: 0 0 $small-spacing;
}

a {
    transition: $base-transition;
    text-decoration: none;
    color: $action-color;
    &:active,
    &:focus,
    &:hover {
        color: darken($action-color, 15%);
    }
    &:active,
    &:focus {
        color: lighten($action-color, 15%);
        outline: none;
    }
}

hr {
    margin: $base-spacing 0;
    border-top: none;
    border-right: none;
    border-bottom: $base-border;
    border-left: none;
}

img,
picture {
    max-width: 100%;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    @extend .clearfix;
}

.container {
    position: relative;
    max-width: $width;
}

@include sprites($spritesheet-sprites);
header {
    padding-top: 45px;
    padding-bottom: 15px;
    .header-title--title {
        font-size: 24px;
        color: #fff;
        a {
            text-decoration: none;
            color: #fff;
        }
        span {
            color: $blue;
        }
    }
    .header-title--description {
        color: $gray-medium;
        padding-left: 150px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .header-nav {
        .headnav {
            text-align: right;
            li {
                text-align: center;
                margin: 0 5px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: block;
                    width: 76px;
                    font-size: 14px;
                    color: #fff;
                    &:before {
                        content: '';
                        opacity: 0.8;
                        display: block;
                    }
                }
                &.menu-item-2023 {
                    a {
                        &:before {
                            @include sprite($sprite-nav-home);
                        }
                    }
                }
                &.menu-item-2022 {
                    a {
                        &:before {
                            @include sprite($sprite-nav-about);
                        }
                    }
                }
                &.menu-item-2020 {
                    a {
                        &:before {
                            @include sprite($sprite-nav-works);
                        }
                    }
                }
                &.menu-item-2021 {
                    a {
                        &:before {
                            @include sprite($sprite-nav-contact);
                        }
                    }
                }
                &.menu-item-2019 {
                    a {
                        &:before {
                            @include sprite($sprite-nav-blog);
                        }
                    }
                }
                &:hover {
                    a {
                        &:before {
                            opacity: 1;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

nav {
    ul {
        @extend .clearfix;
        li {
            display: inline-block;
        }
    }
}

section {
    padding: 0 0 $footer;
    .page-title {
        font-size: 18px;
        text-transform: uppercase;
        color: $gray-light;
        margin-bottom: 20px;
        a {
            color: $gray-light;
        }
    }
}

article {
    @extend .clearfix;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}

.looper {
    @extend .clearfix;
}

footer {
    height: $footer;
    margin: $footer_margin auto 0;
    color: $gray-light;
    .copyright {
        margin-bottom: 0;
        padding-top: 50px;
        text-align: right;
    }
}

@import "import/base64";
@import "import/print";